<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Washing Wala Full App Ionic 6 Capacitor
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2022-present initappz.
-->
<!--<c-footer>-->
<div>
  <a href="https://washzambia.com" target="_blank">Wash Landry Zambia</a>
  <span> &copy; {{date}} Wash Laundry.</span>
</div>
<div class="ms-auto">
  Powered by
  <a href="https://rankersbox.com" target="_blank">
    <span> Rankers Box Limited</span>
  </a>
</div>
<!--</c-footer>-->
